In [2]:
import pandas as pd
import audformat
import auvad

In [13]:
df = audformat.utils.read_csv('databases/tub-age2/data.csv')
root = 'databases/tub-age2/age_files/'
df = df.set_index(df.index.map(lambda x: root+x))

In [14]:
df.head()

,speaker,gender,age,language
file,,,,
databases/tub-age2/age_files/Sebastian/seb10_m...,seb10_m_28,male,28,de-de
databases/tub-age2/age_files/Sebastian/seb11_m...,seb11_m_27,male,27,de-de
databases/tub-age2/age_files/Sebastian/seb12_m...,seb12_m_30,male,30,de-de
databases/tub-age2/age_files/Sebastian/seb13_f...,seb13_f_32,female,32,de-de
databases/tub-age2/age_files/Sebastian/seb14_m...,seb14_m_34,male,34,de-de

In [15]:
def seg_df(df):
    v = auvad.Vad()
    df_ret = pd.DataFrame()
    fields_to_copy = df.columns
    for index, row in df.iterrows():
        seg_df = v.vad(index)
        for f in fields_to_copy:
            seg_df[f] = row[f]
        df_ret = pd.concat((df_ret, seg_df))
    return df_ret

In [16]:
df_seg = seg_df(df)

In [17]:
df_seg.head(2)

                                                                                                 channel  \
file                                              start                  end
databases/tub-age2/age_files/Sebastian/seb10_m... 0 days 00:00:00.660000 0 days 00:00:05.600000        0
                                                  0 days 00:00:06.780000 0 days 00:00:13.740000        0

                                                                                                    speaker  \
file                                              start                  end
databases/tub-age2/age_files/Sebastian/seb10_m... 0 days 00:00:00.660000 0 days 00:00:05.600000  seb10_m_28
                                                  0 days 00:00:06.780000 0 days 00:00:13.740000  seb10_m_28

                                                                                                gender  \
file                                              start                  end
databases/tub-age2/age_files/Sebastian/seb10_m... 0 days 00:00:00.660000 0 days 00:00:05.600000   male
                                                  0 days 00:00:06.780000 0 days 00:00:13.740000   male

                                                                                                 age  \
file                                              start                  end
databases/tub-age2/age_files/Sebastian/seb10_m... 0 days 00:00:00.660000 0 days 00:00:05.600000   28
                                                  0 days 00:00:06.780000 0 days 00:00:13.740000   28

                                                                                                language
file                                              start                  end
databases/tub-age2/age_files/Sebastian/seb10_m... 0 days 00:00:00.660000 0 days 00:00:05.600000    de-de
                                                  0 days 00:00:06.780000 0 days 00:00:13.740000    de-de

In [18]:
df_seg.to_csv('databases/tub-age2/data_seg.csv')